
/* Overall scrollbar is disabled
    (innovation)
*/
::-webkit-scrollbar{
    width: 0;
}


/* Style the dropdown button */

    /* Animation */

/* Image in the header up/down animation */
@keyframes image-up-down {
    from{
        transform: translateY(-20px);

    }
    to{
        transform: translateY(10px);

    }
}

/* The Keyword typing animation */
@keyframes typing {
    from { 
        width: 0;
        border-right:2px solid  rgb(255, 255, 255);

     }
    to { 
        width: 100%;
        border-right: 2px solid rgb(248, 90, 17);

     }
  }

  /* slider of Events scroll automatically */
  @keyframes slider-events{
    from{
        transform: translate(15%);
    }
    to{
        transform: translate(-250%);
    }
  }


*{
    margin: 0;
    padding: 0;
}

/* Base case support */
body{
    overflow-x: hidden;
    background-color: #F9F7F2;
}

/* Nav bar section */
#logo-image{
    height : 100%;
    width: 160%;
    margin-left: -60%;
    margin-top: 4px;
}
#my-classroom-image{
    height: 100%;
    width: 120%;
}


#carreer-camp-application-image{
    height: 100%;
    width: 140px;
}

#avatar  img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: -20px;
}

#enroll-now > button{
    background: linear-gradient(to right,rgb(242, 109, 0),rgb(238, 171, 47) 150%);
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    font-size: 1.1rem;
    transition: all 0.4s ease-in-out;
    margin-left: -50%;
}

/* On hover on button */

#enroll-now  :hover{
    cursor: pointer;
    background: linear-gradient(to right,rgb(255, 147, 59),rgb(255, 169, 10) 150%);
}



#heading-section{
    padding-top: 5vh;
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #032D6B;
}

#left-part-heading{
    width: 50%;
    margin-left: 14%;
    margin-top: 3%;
}

#right-part-heading{
    position: relative;
    top:-50%;
    left: 50%;
    width: 50%;
}

#right-part-heading img{
    position: absolute;
    height: 50vh;
    width: 50%;
    left: 20%;
    margin-top: -9%;
    animation: image-up-down 1.2s ease-in-out infinite alternate;
}

#writing-container{
    display: inline-block;
    font-family: "arial";
    font-size: 15px;
}


  /*Write automatically   */
#dynamic-writing-content{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-right: 2px;
    color: white;
}

#heading-coding-ninja{
    font-size: 30px;
    color: rgb(255, 149, 0);
}

#heading-description{
    color: white;
    margin-top: 40px;
    font-size: 15px;
}

#explore-programs-button{
    width: 40%;
    height: 2.5rem;
    border: 0;
    border-radius: 4px;
    padding: 2px;
    margin-top: 2%;
    font-size: 1.3rem;
    color: white;
    background: linear-gradient(to right,rgb(242, 109, 0),rgb(238, 171, 47) 150%);
    cursor: pointer;
}
#explore-programs-button:hover{
    background: linear-gradient(to right,rgb(238, 171, 47),rgb(242, 109, 0) 150%);
}
#heading-banner{
    position: relative;
    margin-top: -8%;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#banner{
    border: 1px solid transparent;
    border-radius: 25px;
}

#banner-text{
    text-align: center;
    margin-top: 10vh;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 5vh;
}


#placement-stats-student-comments{
    height: 60vh;
    width: 75vw;
    border-radius: 14px;
    margin: auto;
    margin-bottom: 4%;
    display: flex;
    position: sticky;
    overflow: hidden;
}


.image-container-student{
    height: 100%;
    width: 210px;
    background: rgb(204, 38, 204);
    color: white;
    position: relative;
    overflow: hidden;
}

.student1{
    background: #7533B7;
}
.student2{
    background: #421D68;
}
.student3{
    background-color: #2F154C;
}

.student4{
    background-color: #0A6DFF;
}
.student5{
    background-color: #04439F;
}

.image-container-student .heading-student-placement{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 8%;
}

.description-student-placement{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    width: 80%;
    text-align: center;
    text-align: justify;
    margin-left: 4%;
    /* display: none; */
    /* opacity: 0; */
    visibility: hidden;
}

.bottom-section-placement-report{
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-details{
    padding-top: 12%;
    padding-left: 4%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: none;
    /* opacity: 0; */
}

#name-student{
    font-size: 15px;
    margin-bottom: 5px;
}

.student-image img{
    height: 100%;
    width: 100%;
    margin-left: 40px;
}

.student-details img{
    margin-top: 8px;
    width: 7rem;
    height: 35px;
}

#student-box-placement:hover{
    width: 60%;
    cursor: pointer;
    transition: width 0.4s linear;
}
#student-box-placement:hover .description-student-placement{
    display: block;
    visibility: visible;
    transition: all 0.6s linear;
    transition-delay: 0.4s;
}

#student-box-placement:hover .student-details{
    transition: all 0.6s linear;
    display: block;
}

#student-box-placement:hover .student-image img{
    margin-left: -1%;
}

#student-box-placement:hover .heading-student-placement{
    font-size: 2.5rem;
}



#alumini-hear-button button{
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
    height: 3rem;
    width: 300px;
    background: linear-gradient(to right,rgb(255, 115, 0),rgb(238, 171, 47) 150%);
    border: none;
    margin-left: 38%;
    margin-bottom: 5%;
    border-radius: 5px;
}

#alumini-hear-button button:hover{
    background: linear-gradient(to right,rgb(255, 194, 41),rgb(238, 171, 47) 150%);
}



#placement-report{
    margin-top: -3%;
    height: 40vh;
    width: 100%;
}

#placement-report img{
    height: 100%;
    width: 100%;
}

.companies{
    padding-top: 3%;
    text-align: center;
    font-size: 1.5rem;
}
#company{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    padding: 4px;
    margin: auto;
    margin-left: 24%;
}

#company img{
    height: 40px;
    width: 100px;
    margin: 20px;
}

#company img:hover{
    opacity: 0.9;
    cursor: pointer;
}

.change-color{
    background-color: #f9f2e6;
    padding-top: 3%;
    margin-top: 2%;
    width: 100vw;
    /* margin-bottom: 2%; */
}

/* Placement report download button */
#download-pdf-button{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#download-pdf-button a button{
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
    height: 40px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#download-pdf-button a button:hover{
    background-color: black;
    color: white;
}

.download-icon-fa{
    margin-left: 5px;
}

.ratings{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.rating-box{
    height: 35vh;
    width: 23vw;
    background-color: #1D195E;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#rate-number{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

.rate-image{
    height: 80%;
    width: 90%;
}
.rated-in{
    font-size: 2.5rem;
    font-weight: 700;
}

#questions-asked-quora{
    font-size: 1.2rem;
}


.one-stop-platform{
    height: 80vh;
    width: 70vw;
    background-color: #F4F0E2;
    padding-top: 3%;
    margin: auto;
    padding-bottom: 5%;
    position: relative;
    margin-bottom: 5%;

}

.one-stop-platform heading{
    margin-left: 40%;
    font-size: 2rem;
    font-weight: 600;
}

.desc-header{
    margin-left: 39%;
    font-size: 1.2rem;
    font-weight: 200;
}

 #one-stop-navbar{
    margin-left: 2%;
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    text-transform: uppercase;
    padding: 25px;
    max-height: 30px;
}
 #one-stop-navbar label{
    cursor: pointer;
    margin: 5px;
    padding-bottom: 8px;
}

#one-stop-navbar label:hover{
    color: red;
    border-bottom: 4px solid orangered;
}


.section {
    position: absolute;
    top: 38%;
    visibility: hidden;
    display: flex;
    margin-left: 5%;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
}
.one-stop-platform input{
  display:none;
}


#one-stop-navbar{
    margin-left: 2%;
    margin-top: 1%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    text-transform: uppercase;
    padding: 25px;
    max-height: 30px;
}

#guide:checked ~ #guide-page,
#doubt:checked ~ #doubt-page,
#studio:checked ~ #studio-page,
#mock-interview:checked ~ #mock-interview-page,
#placements:checked ~#placements-page,
#free-recources:checked ~ #free-resources-page
{
    visibility: visible;
}



#one-stop-elements{
    height: 45vh;
    width: 100%;
}

.guide-page-element{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}


#left-guide{
    margin-top: 2%;
    width: 60%;
    height: 300px;
}

#right-guide{
    width: 40%;
    height: 300px;
}
#right-guide img{
    width: 100%;
    height: 100%;
}

.meta-belowlists{
    display: flex;
    margin-left: 5px;
    margin-top: 15px;
}

.meta-belowlists div span{
    font-size: 1.5rem;
    font-weight: 700;
}

.meta-belowlists div{
    width: 50%;
    margin-right: 15px;
}

header-one-stop{
    color: rgb(255, 193, 49);
    font-size: 1.3rem;
    font-weight: 800;
}

#sub-header-one-stop{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

#list-one-stop{
    margin-top: 10px;
    margin-left: 10px;
    line-height: 35px;
    max-width: 90%;
}

#list-one-stop li{
    list-style: none;
}

#list-one-stop li i{
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 2px;
}

/* Course section */

.course-section{
    width: 70%;
    margin: auto;
    padding-bottom: 5%;

}

.course-heading{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 5%;
}

#recommended-course{
    width: 95%;
    margin-top: 2%;
    margin-left: 5%;
}
#recommended-course > h2{
    margin-top: 10px;
    margin-bottom: 2%;
    font-size: 1.1rem;
}

.courses-recommended{
    display: flex;
    flex-wrap: wrap;
}

.course-box{
    max-height: 35vh;
    max-width: 20vw;
    width: 250px;
    height: 170px;
    border: rgb(149, 149, 149) solid 1px;
    border-radius: 8px;
    text-decoration: none !important;
    margin: 10px;
}

a{
    text-decoration: none;
}
.heading-course-box{
    height: 50%;
    background-color: rgba(223, 217, 217, 0.434);
    padding-left: 4%;
    display: flex;
    padding-top: 5%;
    color: black;
}
#head-course-box{
    font-size: 0.8rem;
}
#sub-head-course-box{
    font-size: 1.2rem;
    font-weight: 800;
    width: 155px;
}

.heading-course-box img{
    height: 35%;
    width: 20%;
    margin-left: 6%;
    margin-top: 5%;
}
.footer-course-box{
    color: black;
    margin-top: 3%;
    margin-left: 5%;
}
.rating-course-box{
    display: flex;
    margin-top: 3%;
}

.rating-course-box img{
    width: 30%;
    margin-right: 5%;
}

#time-of-course{
    margin-right: 10px;
}


.all-courses{
    margin-left: 5%;
    margin-top: 3%;
    position: relative;
}

navbar-course{
    height: 20px;
    margin-bottom: 10px;
}

.all-course-body-section navbar-course a{
    color: grey;
    padding-bottom: 28px;
} 

.all-course-body-section navbar-course a:hover{
    color: orangered;
    border-bottom: 4px solid orangered;
}

.all-courses h4{
    font-size: 1.3rem;
}

.all-course-body-section hr{
    color: gray;
    margin-top: 15px;
    width: 95%;
    margin: auto;
}


.all-course-body-section navbar-course{
    cursor: pointer;
    color: black;
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    font-size: 1rem;
}

.section-course{
    display: none;
}

.section-course:target{
    display: block;
}

.body-section-course{
    width: 100%;
    display: flex;
    margin-top: 2%;
    overflow-x: scroll;
}


.body-section-course::-webkit-scrollbar {
    height: 5px; 
    background-color: transparent; 
}

.body-section-course::-webkit-scrollbar-thumb {
    background-color: orangered; /* Color of the scrollbar thumb */
    border-radius: 25px; /* Rounded corners for the thumb */
    
}

/* Style for the scrollbar buttons (arrows) */
.body-section-course::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}


/* Queries */
.queries{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 60vh;
    margin: auto;
    padding-top: 3%;
    background-color: #F4F0E2;
    /* background-color: #1D195E; */
}
.lhs-queries{
    width: 50%;
    max-width: 50%;
    margin-left: 10%;
    margin-right: 10%;

}
#contact-details-query{
    display: flex;
}
nonIcon{
    margin-left: 2%;
    margin-top: 2%;
    color: rgb(80, 79, 79);
}

.lhs-queries h1{
    font-size: 1.8rem;
}
.lhs-queries p{
    margin-top: 20px;
    color: rgb(80, 79, 79);
}

.lhs-queries i{
    font-size: 2.5rem;
    border-radius: 50%;
    padding: 15px;
    color: white;
    margin-top: 5%;
    margin-left: -1%;
    display: inline-block;
    background:linear-gradient(to right , blue,purple)
}

.queries .rhs-queries form{
    background-color: white;
    width: 320px;
    margin-left: -30%;
    padding: 10%;
}

.queries .rhs-queries form input{
    width: 300px;
    font-size: 1rem;
    margin-top: 15px;
    height: 20px;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 4%;
    background: transparent;
    border: 1.5px solid rgb(186, 186, 186);
}

.queries .rhs-queries form button{
    width: 300px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 900;
    background-color: orangered;
    border: none;
    cursor: pointer;
    padding: 10px 8px;
    color: wheat;
    margin-left: 3%;
}

.queries .rhs-queries form button:hover{
    background-color: rgb(255, 89, 0);
}

/* News section */

.news-coding-ninjas{
    width: 65vw;
    margin-left: 15%;
    margin-bottom: 5%;
    position: relative;
    margin-top: 3%;
}

coding-news-heading h2{
    font-size: 1.5rem;
}

.news-box{
    margin-left: 5%;
    width: 18%;
    height: 12%;
    cursor: pointer;
    margin-top: 5%;
}
.news-box p{
    margin-left: 25%;
    margin: auto;
    padding-top: 5%;
}

.news-box img{
    height: 95%;
    width: 100%;
}

.scroll-container {
    width: 100%; /* Adjust the visible width */
    white-space: nowrap;
    overflow-x: hidden;
    padding: 10px;
    height: 70vh;
  }

  .scroll-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;

  }
  .scroll-item {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .scroll-button-label {
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    top: 20%;
  }
  
  .scroll-button-label:hover{
    color: red;
    transform: scale(1.5);
  }

  #left-scroll-icon{
    position: absolute;
    left: -5%;
  }
  #right-scroll-icon{
    position: absolute;
    left: 105%;
  }

  .scroll-checkbox {
    display: none;
  }

  .scroll-checkbox:checked + .scroll-container .scroll-content {
    transform: translateX(-900px);
  }


  /* Iframe news portion */
  .news-iframe{
    width: 100%;
    height: 40vh;
    display: flex;
    margin-left: 5%;
  }

  #frame-video{
    width: 60%;
  }
  #description-frame{
    width: 60%;
    overflow: hidden;
    padding-left: 2%;
  }

  #header-news-frame{
    display: flex;
  }

  #description-frame img{
    margin-top: 5%;
    height: 10%;
    width: 18%;
    margin-right: 2%;
  }

  #description-frame #header-news-frame p{
    font-weight: 800;
    margin-top: 30px;
    color: black;
  }

  #description-frame >p{
    margin-top: 5%;
    margin-left: 4%;
    width: 80%;
  }


  /* Upcoming Events */
  #upcoming-events{
    width: 80%;
    height: 55vh;
    margin: auto;
  }
  #upcoming-events upcomingEventsHeader h1{
    margin-left: 40%;
    font-size: 1.8rem;
    text-transform: uppercase;
  }




  upcomingEventsContainer{
    width: 100%;
    height: 80%;
    display: inline-block;
    justify-content: center;
    margin-top: 2%;
    display: flex;
    overflow-x: hidden;
    /* box-shadow: 5px 0px 12px 15px black; */
  }

  upcomingEventsContainer hr{
    width: 75%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  upcomingEventsContainer > div{
    height: 250px;
    width: 300px;
    margin-left: 20px;
    margin-top: 2.2%;
    animation: slider-events 15s linear alternate infinite;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
  }

  upcomingEventsContainer > div:hover #upcoming-event-header-box>img{
    opacity: 0.9;
  }

  #upcoming-event-header-box{
    height: 130px;
    width: 300px;
  }

  #upcoming-event-header-box img{
    height: 80%;
    margin-top: 5%;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }

  #avatars-joining-event{
    display: flex;
    height: 20%;
  }

  #avatars-joining-event img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px;
  }

  #upcoming-event-footer-box p, #upcoming-event-footer-box div{
    padding-left: 5%;
  }

  #header-box-events{
    font-size: 1.1rem;
    font-weight: 600;
}


/* Footer */

Footer-Links{
    margin-top: 5%;
    height: 40vh;
    width: 100%;
    display: block;
    background-color: #1E2124;
    margin-bottom: 5%;
}

#links{
    display: flex;
    padding-top: 3%;
    color: white;
}

#logo-section{
    width: 25%;
    /* margin-top: 1%; */
    margin-left: 5%;
}

#logo-section img{
    width: 60%;
    color: white;
    height: 50%;
}

#links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.8s ease-in-out;
}

#links a:hover{
    color: orangered;
    border-bottom: 1px solid orangered;
}

#links ul{
    list-style: none;
}
#links ul li{
    line-height: 20px;
}
.heading-links{
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 7px;
}

#products-section,#community-section,#social-links-section{
    margin-left: 6%;
}

#social-links-section > #social-icons i{
    padding: 8px;
    border: 1px solid white;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 2px;
}

#social-icons a:hover{
    border: none;
    color: rgb(200, 84, 84);
    transition: all 0.8s;
}

.contact-us-link{
    margin-top: 5%;
}

.contact-us-link Text{
    margin-left: 3%;
}


/* Important Links Section */

#ImportantLinks{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.link-section-one{
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.link-section-one p{
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 1%;
    font-size: 10px;
}

#ImportantLinks h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link-section-one a{
    text-decoration: none;
    color: black;
    padding-right: 3px;
    font-size: 0.6rem;
    margin-left: 1%;
    margin-top: 2px;
    transition: all 0.2s ease-in-out;
}

.link-section-one a:hover{
    color: orangered;
}


/* Bottom Payment section */

.bottom-payments{
    display: flex;
    width: 100%;
    margin-left: 8%;
    margin-bottom: 7%;
}

#left-payment , #right-payment{
    display: flex;
}

#left-payment {
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 25%;
}

#emi{
    padding: 6px;
    background-color: gray;
    color: rgb(36, 36, 36);
    font-size: 0.6rem;
    margin-left: 12px;
    text-transform: uppercase;
}

#left-payment img{
    height: 20px;
    width: 40px;
    margin-left: 15px;
}

#right-payment img{
    height: 40px;
    width: 85px;
    margin-top: -5px;
}

#right-payment p{
    background-color: #0A6DFF;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    border-radius: 4px;
    height: 20px;
    padding: auto;
}



/* Navbar and Menu Items */

.navbars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* margin-left: 5%; */
    background-color: #032D6B;
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 50;
    padding-left: 10%;
}

#heading-cn-logo{
    width: 140px;
    height: 40px;
    margin-right: 35px;
}

.user-avatar img{
    height: 30px;
    width: 30px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
}

.bootcamp img{
    height: 30px;
    width: 150px;
    margin-left: 10%;
    margin-right: 10%;
}

/*  change the bottom border on hover */
.bootcamp img:hover , .myClassroom:hover{
    border-bottom: 2px solid orange;
    cursor: pointer;
}

.myClassroom{
    margin-left: 3%;
    text-transform: uppercase;
    margin-right: 8px;
}

/* Style for the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Style for dropdown buttons */
.dropdown-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-right: 35px;
    transition: all 0.5s ease-in-out;
    padding-bottom: 14px;
    max-height: 100%;
    height: 100%;
}

.dropdown-btn:hover{
    color: rgb(255, 126, 62);
    border-bottom: 4px solid orange;
}

/* Style for dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 80%;
    /* background-color: #333; */
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for the user avatar */
.user-avatar {
    font-size: 20px;
    margin-right: 10px;
}

/* Style for the "Enroll Now" button */
.enroll-btn {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.enroll-btn:hover{
    background-color: #d66316;
}
        
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for individual dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* Change the color of dropdown items on hover */
.dropdown-content a:hover {
    background-color: #e2dede;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.sections{
    width: 600px;
    height: 180px;
    display: flex;
    background-color: transparent;
}
.section1{
    width: 25%;
    border-right: 1px solid grey;
    padding-left: 15px;
    background-color: whitesmoke;
}

.section1 p{
    /* color: white; */
    color: black;
    font-weight: 600;
    cursor: pointer;
    padding-left: 5%;
    padding-top: 5%;
    line-height: 2rem;
}

.section1 p:hover{
    color: orange;
}

.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.section2 img{
    width: 80px;
    height: 40px;
    margin: 20px;
}

.section2 img:hover{
    opacity: 6;
    cursor: pointer;
    transform: scale(1.5,1.5);
}


.hamburger {
    position: fixed;
    top: 2%;
    left: 3%;
    color: white;
    z-index: 100;
    display: none;
}

.hamburger i{
    font-size: 2.5rem;
}



.contents{
    height: 90vh;
    width: 95vw;
    background: rgba(0, 0, 0, 0.729);
}

.contents p{
    font-size: 2.5rem;
    margin-left: 5%;
    line-height: 3rem;
    padding-top: 5%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.444);
    padding-bottom: 2px;
    width: 90%;
}

.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    transition: all 1s ease-in-out;
    display: block;
  }
  
